# macOS
.DS_Store

# Environments
.env
.env.*
.venv
venv
env
__pycache__/
*.pyc

# Node
node_modules/
.npm
/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build

# Database
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

# Shopify
.shopify/*
.shopify.lock
/extensions/*/dist

# React Router
.react-router/
